@import "../abstracts/variables.component.scss";
@import "../abstracts/mixins.component";
@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //I want 1rem to be = 9px so, 9/16px = 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%; //I want 1rem to be = 8px so, 8/16px = 50%;
  }
  @include respond(big-desk) {
    font-size: 75%; //I want 1rem to be = 12px so, 12/16px = 75%
  }
  background-color: #fff1e8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 2rem 3rem;
  border-radius: 4rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  box-sizing: border-box;
  font-family: "Mali", cursive;
  background-color: $color-white;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.25);
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-grey-dark-3;
  color: $color-white;
}
