@import "../../../sass/main.component.scss";

:host {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 13%;
}

// somethin that i forget

.lateral-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  & > * {
    margin: 0.25rem;
  }
  &__line-1 {
    height: 0.2rem;
    width: 2rem;
    border: 0.15rem solid $color-black;
  }
  &__line-2 {
    height: 0.2rem;
    width: 3rem;
    border: 0.15rem solid $color-black;
  }
}

// Input Search

.inputbox {
  width: 60%;
  border: none;
  padding: 1.6rem;
  background-color: rgb(247, 247, 247);
  border-radius: 2rem;
  outline: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  &__search-input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 70%;
  }

  &__lupa {
    height: 2rem;

  }
  &__countries {
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img {
      height: 2rem;
      margin: 0 1rem;
    }
    &__dash {
      height: 0.2rem;
      width: 2rem;
      border: 0.1rem solid $color-grey-light;
      transform: rotate(-90deg);
    }
  }
}

::placeholder {
  color: $color-grey;
  font-size: 1.4rem;
  opacity: 0.5;
}
