<!-- #Lateral Menu Part -->
<div class="lateral-menu">
  <div class="lateral-menu__line-1"></div>
  <div class="lateral-menu__line-2"></div>
</div>

<!-- #SearchBar Part -->
<div class="inputbox">
  <img class='inputbox__lupa' src="../../../assets/lupa.svg" alt="Lupa Image">
  <input class='inputbox__search-input' type="search" placeholder="Search job">
  <div class="inputbox__countries">
    <div class="inputbox__countries__dash"></div>
    <img class='inputbox__countries__img' src="../../../assets/arrow-down-black.svg" alt="Countries Arrow"> All
    Countries
  </div>
</div>
