<div class="header-profile">
  <div class="header-profile__ring-box">
    <div class="header-profile__ring-box__point"></div>
  </div>
  <div class="header-profile__profile-name">Felipe Fabossi</div>
  <div class="header-profile__profile-image"><img src="" alt="image"></div>
</div>


<div class="view-more">
  <div class="view-more__content-title">
    <h1 class='view-more__content-title__h1'>View more</h1>
    <div class='view-more__content-title__dots'>
      <p class='view-more__content-title__dots__1'></p>
      <p class='view-more__content-title__dots__2'></p>
      <p class='view-more__content-title__dots__3'></p>
    </div>
  </div>
  <div class="view-more__listr"></div>
  <br>
  <div class="view-more__description">
    <div class="view-more__description__img"></div>
    <div class="view-more__description__titles">
      <div class="view-more__description__titles__title">Gensler</div>
      <div class="view-more__description__titles__sub-title">Economic manager</div>
    </div>
    <img src='../../../assets/plus.svg' class="view-more__description__plus" />
  </div>
  <br>
  <div class="view-more__listr"></div>
  <div class="view-more__description">
    <div class="view-more__description__img"></div>
    <div class="view-more__description__titles">
      <div class="view-more__description__titles__title">AeCom</div>
      <div class="view-more__description__titles__sub-title">Product designer</div>
    </div>
    <img src='../../../assets/plus.svg' class="view-more__description__plus" />
  </div>
  <br>
  <div class="view-more__listr"></div>

  <div class="view-more__description">
    <div class="view-more__description__img"></div>
    <div class="view-more__description__titles">
      <div class="view-more__description__titles__title">AeCom</div>
      <div class="view-more__description__titles__sub-title">Product designer</div>
    </div>
    <img src='../../../assets/plus.svg' class="view-more__description__plus" />
  </div>
  <br>
  <div class="view-more__listr"></div>
