<div class="container-moreDetails">
  <h1>More Details</h1>
  <div class="container-moreDetails__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit orci,
    iaculis id Ut ultricies eu dui posuere auctor. Nullam egestas metus at mauris
  </div>
  <div class="container-moreDetails__how-it-works">
    how it works &rarr;
  </div>
</div>

<div class="social">
  <div class="social__google">
    <img class='social__google__image' src="../../assets/google.svg" alt="Google" />
    <div class="social__google__title">
      Google
    </div>
    <div class="social__google__visual-designer">
      Visual Designer
    </div>
    <img class='social__google__heart' src="../../assets/heart.svg" alt="Heart Icon">
    <img class='social__google__arrow-down' src="../../assets/arrow-down.svg" alt="Arrow Down Icon">
  </div>

  <div class="social__slack">
    <img class='social__slack__image' src="../../assets/google.svg" alt="slack" />
    <div class="social__slack__title">
      Slack Inc.
    </div>
    <div class="social__slack__visual-designer">
      UX Engineer
    </div>
    <img class='social__slack__heart' src="../../assets/heart.svg" alt="Heart Icon">
    <img class='social__slack__arrow-down' src="../../assets/arrow-down.svg" alt="Arrow Down Icon">
  </div>
  <!-- <div class="social__slack">Slack area</div> -->
</div>
